@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

@keyframes border-slide-x {
    0% {
        transform: translateX(0);
        /* start at original position */
    }

    50% {
        transform: translateX(-50%);
        /* move 20px to the right */
    }

    100% {
        transform: translateX(0);
        /* back to start */
    }
}

@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;
    }

    .modal-style {
        @apply fixed top-0 bottom-0 left-0 right-0 bg-black/25 flex items-center justify-center z-999;
    }

    .modal-style>div:not(.wide-modal) {
        @apply p-8 rounded-lg bg-white w-[calc(min(500px,100%))] max-h-screen overflow-auto;
    }

    .modal-style>.wide-modal {
        @apply p-8 bg-white w-screen h-screen overflow-auto;
    }

    .modal-title {
        @apply flex items-center justify-between mb-4;
    }

    .input {
        @apply -outline-offset-1 focus:outline-blue-600;
    }

    /* .EditorContent {
        @apply p-2 min-h-45 prose max-w-none border border-gray-300;
    } */

    .EditorContent ul {
        @apply ml-4 list-disc;
    }

    .EditorContent ol {
        @apply ml-4 list-decimal;
    }

    .EditorContent h1 {
        @apply text-2xl;
    }

    .EditorContent h2 {
        @apply text-xl;
    }

    .EditorContent h3 {
        @apply text-lg;
    }

    .card-wrapper {
        @apply absolute inset-0 w-2/1;
        background: linear-gradient(45deg, #facc15, #f5f0e2, #f59e0b);
        animation: border-slide-x 5s linear infinite;
    }

    .img-fade-left {
        -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    }

    .hiw-card{
        @apply relative flex flex-col items-center text-center p-4 bg-gray-900 text-white rounded-xl;
    }
    .hiw-card-img{
        @apply rounded-md mb-6 shadow-md cursor-pointer;
    }
    /* .hiw-card::after{
        content: '';
        @apply absolute inset-0 border-2 border-gray-100 rounded-xl rotate-2 duration-150 pointer-events-none;
    }
    .hiw-card:hover::after{
        @apply rotate-0;
    } */
    .hiw-step{
        @apply w-12 h-12 bg-blue-600 text-white rounded-full flex items-center justify-center text-xl mb-4;
    }
}